Framework/Web References/Web/ConnectUO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.connectuo.com/webservice/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.connectuo.com/webservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.connectuo.com/webservice/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="TestConnection">
        <s:complexType />
      </s:element>
      <s:element name="TestConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TestConnectionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TrackUsage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="guid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TrackUsageResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateVersionStats">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="guid" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateVersionStatsResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdatePlayStatistics">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="guid" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePlayStatisticsResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetPublicServers">
        <s:complexType />
      </s:element>
      <s:element name="GetPublicServersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPublicServersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPatches">
        <s:complexType />
      </s:element>
      <s:element name="GetAllPatchesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPatchesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerInformationResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetLatestVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLatestVersionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatches">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatchesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPatchesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="TestConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="TrackUsageSoapIn">
    <wsdl:part name="parameters" element="tns:TrackUsage" />
  </wsdl:message>
  <wsdl:message name="TrackUsageSoapOut">
    <wsdl:part name="parameters" element="tns:TrackUsageResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateVersionStatsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateVersionStats" />
  </wsdl:message>
  <wsdl:message name="UpdateVersionStatsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateVersionStatsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePlayStatisticsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePlayStatistics" />
  </wsdl:message>
  <wsdl:message name="UpdatePlayStatisticsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePlayStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPublicServersSoapIn">
    <wsdl:part name="parameters" element="tns:GetPublicServers" />
  </wsdl:message>
  <wsdl:message name="GetPublicServersSoapOut">
    <wsdl:part name="parameters" element="tns:GetPublicServersResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPatchesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPatches" />
  </wsdl:message>
  <wsdl:message name="GetAllPatchesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPatchesResponse" />
  </wsdl:message>
  <wsdl:message name="GetServerInformationSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerInformation" />
  </wsdl:message>
  <wsdl:message name="GetServerInformationSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerInformationResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestVersion" />
  </wsdl:message>
  <wsdl:message name="GetLatestVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestVersionResponse" />
  </wsdl:message>
  <wsdl:message name="GetPatchesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPatches" />
  </wsdl:message>
  <wsdl:message name="GetPatchesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPatchesResponse" />
  </wsdl:message>
  <wsdl:portType name="ConnectUO_x0020_Web_x0020_ServiceSoap">
    <wsdl:operation name="TestConnection">
      <wsdl:input message="tns:TestConnectionSoapIn" />
      <wsdl:output message="tns:TestConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TrackUsage">
      <wsdl:input message="tns:TrackUsageSoapIn" />
      <wsdl:output message="tns:TrackUsageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateVersionStats">
      <wsdl:input message="tns:UpdateVersionStatsSoapIn" />
      <wsdl:output message="tns:UpdateVersionStatsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayStatistics">
      <wsdl:input message="tns:UpdatePlayStatisticsSoapIn" />
      <wsdl:output message="tns:UpdatePlayStatisticsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPublicServers">
      <wsdl:input message="tns:GetPublicServersSoapIn" />
      <wsdl:output message="tns:GetPublicServersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPatches">
      <wsdl:input message="tns:GetAllPatchesSoapIn" />
      <wsdl:output message="tns:GetAllPatchesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServerInformation">
      <wsdl:input message="tns:GetServerInformationSoapIn" />
      <wsdl:output message="tns:GetServerInformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersion">
      <wsdl:input message="tns:GetLatestVersionSoapIn" />
      <wsdl:output message="tns:GetLatestVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPatches">
      <wsdl:input message="tns:GetPatchesSoapIn" />
      <wsdl:output message="tns:GetPatchesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConnectUO_x0020_Web_x0020_ServiceSoap" type="tns:ConnectUO_x0020_Web_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://www.connectuo.com/webservice/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackUsage">
      <soap:operation soapAction="http://www.connectuo.com/webservice/TrackUsage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVersionStats">
      <soap:operation soapAction="http://www.connectuo.com/webservice/UpdateVersionStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayStatistics">
      <soap:operation soapAction="http://www.connectuo.com/webservice/UpdatePlayStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPublicServers">
      <soap:operation soapAction="http://www.connectuo.com/webservice/GetPublicServers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPatches">
      <soap:operation soapAction="http://www.connectuo.com/webservice/GetAllPatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerInformation">
      <soap:operation soapAction="http://www.connectuo.com/webservice/GetServerInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersion">
      <soap:operation soapAction="http://www.connectuo.com/webservice/GetLatestVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatches">
      <soap:operation soapAction="http://www.connectuo.com/webservice/GetPatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConnectUO_x0020_Web_x0020_ServiceSoap12" type="tns:ConnectUO_x0020_Web_x0020_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap12:operation soapAction="http://www.connectuo.com/webservice/TestConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackUsage">
      <soap12:operation soapAction="http://www.connectuo.com/webservice/TrackUsage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVersionStats">
      <soap12:operation soapAction="http://www.connectuo.com/webservice/UpdateVersionStats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayStatistics">
      <soap12:operation soapAction="http://www.connectuo.com/webservice/UpdatePlayStatistics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPublicServers">
      <soap12:operation soapAction="http://www.connectuo.com/webservice/GetPublicServers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPatches">
      <soap12:operation soapAction="http://www.connectuo.com/webservice/GetAllPatches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerInformation">
      <soap12:operation soapAction="http://www.connectuo.com/webservice/GetServerInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersion">
      <soap12:operation soapAction="http://www.connectuo.com/webservice/GetLatestVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatches">
      <soap12:operation soapAction="http://www.connectuo.com/webservice/GetPatches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConnectUO_x0020_Web_x0020_Service">
    <wsdl:port name="ConnectUO_x0020_Web_x0020_ServiceSoap" binding="tns:ConnectUO_x0020_Web_x0020_ServiceSoap">
      <soap:address location="http://209.173.140.55/ConnectUOService/ConnectUO.asmx" />
    </wsdl:port>
    <wsdl:port name="ConnectUO_x0020_Web_x0020_ServiceSoap12" binding="tns:ConnectUO_x0020_Web_x0020_ServiceSoap12">
      <soap12:address location="http://209.173.140.55/ConnectUOService/ConnectUO.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>